# Conhecendo melhor nossa base de consumidores: qual estado possui os clientes com melhores pontuações de crédito?

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

In [94]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [21]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

In [41]:
list(df['estado_residencia'].unique())

['SC', 'RS', 'PR']

In [25]:
df.groupby('estado_residencia')['pontuacao_credito'].mean()

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [26]:
df.groupby('estado_residencia')['pontuacao_credito'].median()

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [35]:
df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [29]:
df.groupby('estado_residencia')['pontuacao_credito'].std()

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [73]:
float(df[df['estado_residencia']=='PR'].groupby('estado_residencia')['pontuacao_credito'].std())

98.60718591309755

### Resolução

In [96]:
estado = list(df['estado_residencia'].unique())

In [97]:
estatisticas = {}

In [98]:
for x in estado:
    media = float(df[df['estado_residencia'] == x].groupby('estado_residencia')['pontuacao_credito'].mean())
    mediana = float(df[df['estado_residencia'] == x].groupby('estado_residencia')['pontuacao_credito'].median())
    moda = float(df[df['estado_residencia'] == x].groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode))
    desvio = float(df[df['estado_residencia'] == x].groupby('estado_residencia')['pontuacao_credito'].std())
    resultado = {'moda': moda, 'mediana': mediana, 'media': media, 'desvio_padrao': desvio}
    estatisticas.update({x: resultado})

In [99]:
estatisticas

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755}}

In [100]:
with open('submission.json', 'w') as f:
    json.dump(estatisticas, f)